<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Title  -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon-->
    <!-- <link rel="icon" type="image/x-icon" href="../static/favicon.ico" /> -->
    <link rel=" shortcut icon" href="../static/favicon-library.ico">
    <link rel="icon" href="/static/favicon-library.ico">
    <!-- CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    {% block css %}
    {% endblock %}
    <!-- Script -->
    {% block script %}
    {% endblock %}
</head>
<body>
<!-- Navbar-->
{% include "_navbar.html" %}
<div class="container">
    <div style="margin-top:80px;">
    <!-- Content -->
    {% block content %} 
    {% endblock %}
    </div>
</div>

</body>
</html>
