<nav class="fixed-top" style="background: #5434af; height: 80px; width: 100%;">
    <label><a style="text-decoration:none; color: white; font-size: 35px; line-height: 80px; padding: 0 100px; font-weight: bold;" href="{{ url_for('main.book_list') }}">엘리스 도서관</label></a>
    <ul style="float: right; margin-right: 20px;">
    {% if session['user_name'] %}
        <li style="display: inline-block; line-height: 80px; margin: 0 30px;">
            <span class="" style="color: white; font-size: 20px;">안녕하세요! {{ session['user_name'] }} 님!</span>
        </li>
        <li style="display: inline-block; line-height: 80px; margin: 0 5px;">
            <a style="text-decoration:none; color: white; font-size: 17px; padding: 7px 13px; border-radius: 3px; text-transform: uppercase; background: #1d075f; transition: 0.5s;" href="{{ url_for('mypage.mypage') }}">마이페이지</a>               
        </li>
        <li style="display: inline-block; line-height: 80px; margin: 0 5px;">
            <a style="text-decoration:none; color: white; font-size: 17px; padding: 7px 13px; border-radius: 3px; text-transform: uppercase; background: #1d075f; transition: 0.5s;" href="{{ url_for('user.logout') }}">로그아웃</a>               
        </li>
    {% else %}
        <li style="display: inline-block; line-height: 80px; margin: 0 5px;">
            <a style="text-decoration:none; color: white; font-size: 17px; padding: 7px 13px; border-radius: 3px; text-transform: uppercase; background: #1d075f; transition: 0.5s;" href="{{ url_for('user.register') }}">회원가입</a>               
        </li>
        <li style="display: inline-block; line-height: 80px; margin: 0 5px;">
            <a style="text-decoration:none; color: white; font-size: 17px; padding: 7px 13px; border-radius: 3px; text-transform: uppercase; background: #1d075f; transition: 0.5s;" href="{{ url_for('user.login') }}">로그인</a>
        </li>
    {% endif %}
    </ul>
</nav>