{% extends "_base.html" %}

{% block title %}전체 도서 열람 페이지{% endblock %}

{% block script %}
<!-- <script>
    function rental_book(librarybook_id){
        $.ajax({
        url:'/rentalBook',
        type:'post',
        data:{
            'book_id':librarybook_id
        },
        success: function(res) {
            if(res['result'] == 'success') {
                if (confirm('대여가 완료되었습니다. 대여목록으로 이동하시겠습니까?')){
                    return window.location.href = '/rentalList'
                } else {
                    return window.location.href = '/'
                }
            } else if (res['result'] == 'fail'){
                alert("재고가 없어서 대여할 수 없습니다. 다른 책을 대여해주세요.")
                window.location.href = '/rentalBook'
            } else if (res['result'] == 'already'){
                alert("이미 대여한 책 입니다. 대여목록에서 확인해주세요.")
                window.location.href = '/rentalList'
            // } else if (res['result'] == 'full'){
            //     alert("대여 가능 권수를 초과했습니다. 대여 중인 책을 반납 후 이용해주세요.")
            }
        }
    })
    }
</script> -->
{% endblock %}


{% block content %}
<h2>엘리스 책 목록</h2>
<h2>전체 도서 열람 페이지</h2>
<!-- header : 검색 모양 -->

{% if book_list %}
{% for book in book_list %}
<form method="post">
    <div>
        <img class="" src="../static/img_book/{{ book.img_link }}.jpg" alt="{{ book.book_name }}" style="width:430px; height:550px;">
    </div>
    <div>
        <table class="book_list" style="width:85%; height:100%;margin-left:100px;">
            <tr>
                <th>책 이름</th>
                <td>{{ book.book_name }}</td>
            </tr>
            <tr>
                <th>평점</th>
                <td>
                    {% for _ in range(book.star) %}
                        <i class="bi bi-star-fill" style="color: red;">*</i>
                    {% endfor %}
                    {% for _ in range(5 - book.star) %}
                        <i class="bi bi-star" style="color: gray;">*</i>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>대여 여부</th>
                {% if book.remaining == 0 %}
                    <td style="color: red;">현재 대여가 불가능합니다.</td>
                {% else %}
                    <td>{{ book.remaining }}권 남아있습니다.</td>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <!-- <button 
            onclick="rental_book('{{book.id}}')"
        >대여하기</button>
        <button 
            onclick="rental_book('{{book.id}}')"
        >자세히보기</button> -->
        
        <input type="hidden" name="book_id" value="{{ book.id }}">
        <input type="submit" value="대여하기" />
        <a href="/bookDetail/{{ book_id }}" class="block mt-2">자세히보기</a>
    </div>
</form>
{% endfor %}

{% else %}
<div>book_list가 없습니다</div>
{% endif %}



{% endblock %}