{% extends "_base.html" %}

{% block title %}마이페이지{% endblock %}

{% block scripts %}
<script>
// function return_book(book_id) {
//     $.ajax({
//         url:'/returnBook',
//         type:'get',
//         data:{
//             'book_id':book_id
//         },
//         success: function(res) {
//             if(res['result'] == 'success') {
//                 if(confirm("대여중인 도서를 반납하시겠습니까?")){
//                     alert("반납되었습니다.")
//                 } else {
//                     alert("반납되지 않았습니다. 마이페이지로 돌아갑니다.")
//                 }
//                 window.location.href = '/mypage'
//             } else if(res['result'] == 'none') {
//                 alert("존재하지 않는 대여입니다.")
//                 window.location.href = '/mypage'
//             } else{
//                 alert("에러 발생")
//                 window.location.reload()
//             }
//         }
//     })
// }
</script>
{% endblock %}


{% block content %}

<h2>{{ session['user_name'] }} 님의 도서대여기록입니다.</h2>
<div>

<table class="table" style="width:85%; height:100%;">
    <thead>
        <tr>
            <th>대여일자</th>
            <th>책 사진</th>
            <th>책 제목</th>
            <th>대여횟수</th>
            <th>반납일자</th>
        </tr>
    </thead>
    <tbody>
        {% for book in rental_list %}
        <!-- (mypage_api.py) 
            rental_list = UserRentBook.query.filter(UserRentBook.user_email == session['user_email']).all() -->
        <!-- (models.py) 
            book_data = db.relationship('LibraryBook', foreign_keys='UserRentBook.book_id') -->
        <tr>
            <td>{{ book.rental_date }}</td>
            <td>{{ book.book_data.img_link }}</td>
            <td>{{ book.book_data.book_name }}</td>
            <td>{{ book.book_data.rental_val }}</td>
            <!-- 반납일자 : 있으면 반납일자를 보여주고, 없다면 반납하기 버튼 -->
            {% if book.return_date %}
            <td>{{ book.return_date }}</td>
            {% else %}
            <td>
                <!-- <button onclick="return_book('{{ book.book_id }}')">반납하기</button> -->
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="submit" value="반납하기" />
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}