{% with messages = get_flashed_messages() %}
{% if messages %} 
<script> 
    alert("{{messages[0]}}") 
</script> 
{% endif %} 
{% endwith %}


{% extends "_base.html" %}

{% block title %}마이페이지{% endblock %}

{% block content %}

<h2>{{ session['user_name'] }} 님의 도서대여기록입니다.</h2>

<table class="mypage-table">
    <thead>
        <tr>
            <th>대여일자</th>
            <th>책 사진</th>
            <th>책 제목</th>
            <th>대여횟수</th>
            <th>반납일자</th>
        </tr>
    </thead>
    <tbody>
        {% for book in rental_list %}
        <!-- (mypage_api.py) 
            rental_list = UserRentBook.query.filter(UserRentBook.user_email == session['user_email']).all() -->
        <!-- (models.py) 
            book_data = db.relationship('LibraryBook', foreign_keys='UserRentBook.book_id') -->
        <tr>
        <!-- <tr class="active-row"> -->
            <td>{{ book.rental_date }}</td>
            <td>{{ book.book_data.img_link }}</td>
            <td>{{ book.book_data.book_name }}</td>
            <td>{{ book.book_data.rental_val }}</td>
            <!-- 반납일자 : 있으면 반납일자를 보여주고, 없다면 반납하기 버튼 -->
            {% if book.return_date %}
            <td>{{ book.return_date }}</td>
            {% else %}
            <td>
                <!-- <button onclick="return_book('{{ book.book_id }}')">반납하기</button> -->
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="submit" value="반납하기" />
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}